body {
    background-image: url('../assets/bg2.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: none;
    opacity: 0.99;
  }
  
  .App {
    text-align: center;
    /* padding: 1%; */
  }
  
  .right-button {
    
    float: right;
  }
  .list-group-item{
    margin-top: 1%;
  }
  .list-item {
    cursor: pointer;
    display: inline-block;
  }